version: '3.8'                              # Specify the version of the Docker Compose file format

services:                                   # Define the services (containers) to be created
  app:                                      # Define the 'app' service (container)
    build:                                  # Instructions for building the Docker image for this service
      context: .                            # The directory to use as the build context (current directory)
      dockerfile: Dockerfile                # The name of the Dockerfile to use
    ports:
      - "8082:8082"                         # Map the application port
    environment:                            # Environment variables to set in the container
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/auth-service-db?createDatabaseIfNotExist=true      # JDBC URL for connecting to the MySQL database
      SPRING_DATASOURCE_USERNAME: root      # Database username
      SPRING_DATASOURCE_PASSWORD: root      # Database password
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:29092   # Kafka broker
      SPRING_PROFILES_ACTIVE: local
      # Optional: Add any other environment variables you need
    depends_on:                             # Specifies the dependency between services
      - db                                  # The 'app' service depends on the 'db' service; it will start after the 'db' service
      - kafka                               # Also depends on Kafka
    networks:
      - app-network

  db:                                       # Define the 'db' service (container)
    image: mysql:8.0                        # Use the MySQL 8.0 image from Docker Hub
    container_name: mysql-db                # Assign a specific name to the container
    ports:                                  # Port mappings between the host and container
      - "8800:3306"                         # Map port 8800 on the host to port 3306 on the container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth-service-db        # Default database to create
    volumes:                                # Mount volumes to persist data
      - db_data:/var/lib/mysql              # Use the 'db_data' volume to persist MySQL data
    networks:
      - app-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:7.4.1
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

  akhq:
    image: tchiotludo/akhq:latest
    container_name: akhq
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            local-kafka:
              properties:
                bootstrap.servers: "kafka:29092"
volumes:
  db_data:                                   # Volume for MySQL data persistence

networks:
  app-network:                               # Network connecting all services
